.state {
	display:none !important;
}

#ltie9 {
	display: block;
	position:absolute;
	height: 100%;
	margin-top: -60px;
	padding-top: 60px;
}

#ltie9 * {
	position: relative;
}

nav ul li a {
	cursor: default;
}

nav ul li a:hover {
	color:#555 !important;
}

nav ul li a.active {
	color: #555 !important;
}