body {
  padding: 0;
  margin: 0;
  position: relative;
}

main > section {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.matrix {
  background-image: url(../img/bg/matrix-blur.png);
}

.matrix h1, .matrix p {
  color: white !important;
  margin: 0;
}

.social-links {
  margin-top: 15px;
}

.social-links li {
  display: inline-block;
  width: 40px;
}

.social-links li:not(:last-child) {
  margin-right: 10px;
}

img.me {
  width: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
}

.slider-wrapper {
  background-image: url(../img/bg/chsxyz-blur.png);
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

.slider-wrapper h1, .slider-wrapper > div > div > p {
  margin-top: 20px;
  text-align: center;
}

.slider-wrapper .container {
  height: 90vh;
  margin: 1vh auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
}

.center {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: block;
}

.keep-scrolling {
  width: 8vh;
  height: 8vh;
  position: absolute;
  top: 90vh;
  color: white;
  left: 50vw;
  margin-left: -4vh;
  text-align: center;
  display: block;
  opacity: 0.3;
  cursor: pointer;
}

.preload img, .preload {
  visibility: hidden;
  height: 0;
  position: absolute;
}