/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */


	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) { }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.slider-wrapper {
			min-height: 520px;
		}
		.slider-wrapper .container {
			min-height: 510px;
		}

		article#portfolio {
			height: 465px;
		}
		.slider {
			margin-top: 30px;
			height: 285px;
		}
		.slider * {
			position: static;
		}
		.slider ul:not(.pagination) {
			left: 0;
		}
		.slider ul:not(.pagination) li {
			width: 100%;
			height: auto;
		}
		.slider ul:not(.pagination) li img {
			width: 100%;
			height: auto;
			position:static;
		}
		.slider ul:not(.pagination) li div.info p {
			top: 5px;
			font-size: 0.9em;
		}
		.slider .left-arrow, .slider .right-arrow {
			display:none;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) { }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		article#portfolio {
			height: 435px;
		}
		.slider {
			height: 210px;
		}
		.slider ul:not(.pagination) li div.info {
			height: 85px;
		}
	}

	@media only screen and (max-height: 420px) {
		.keep-scrolling {
			display: none;
		}
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/