---
layout: default
permalink: /
---

<h2>about</h2>

<section class="about">
  <p>
    hi, i'm joah. i'm a frontend developer based out of southeast texas. i build webapps, brands, and communities. i'm husband to <a href="https://go.joahg.com/2Dvcmfw" target="_blank">haley</a>, and dad to a beautiful daughter.
  </p>
</section>

<h2>social</h2>

<section class="social">
  <p>
    <a target="_blank" href="https://go.joahg.com/2BiDw3N" rel="me">twitter</a> · <a target="_blank" href="https://go.joahg.com/2Dvi8P7" rel="me">github</a> · <a target="_blank" href="https://go.joahg.com/2Dq50q0">facebook</a><span class="hidden-sm"> · </span><a target="_blank" href="https://go.joahg.com/2rqtDBC">linkedin</a> · <a target="_blank" href="https://go.joahg.com/2EXjdeM">blog</a> · <a target="_blank" href="https://go.joahg.com/2mWLg6B">keybase</a> · <a target="_blank" href="/services">services</a> · <a target="_blank" href="mailto:me@joahg.com">email</a>
  </p>
</section>

<h2>work</h2>

<section class="work">
  <div class="logo-wrapper coinigy">
    <a href="https://go.joahg.com/2EZldTG" target="_blank" class="logo">
      {% include logos/coinigy.html %}
    </a>
  </div>
  <div class="description">
    <strong class="position">Senior Frontend Developer</strong>
    <strong class="company">Coinigy</strong>
    <span class="tenure">Oct 2016 - Present</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>

<section class="work">
  <div class="logo-wrapper fsg">
    <a href="" target="_blank" class="logo">
      {% include logos/fsg.html %}
    </a>
  </div>
  <div class="description">
    <strong class="position">Frontend Development Consultant</strong>
    <strong class="company">FSG Energy</strong>
    <span class="tenure">May 2018 - Present</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>

<section class="work">
  <div class="logo-wrapper neverwoods">
    <a href="https://go.joahg.com/2rtS2q0" target="_blank" class="logo">
      {% include logos/theneverwoods.html %}
    </a>
  </div>
  <div class="description">
    <strong class="position">Development Director</strong>
    <strong class="company">The Neverwoods</strong>
    <span class="tenure">Oct 2016 - Present</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>

<section class="work">
  <div class="logo-wrapper irl">
    <a href="https://go.joahg.com/2EWZxYj" target="_blank" class="logo">
      {% include logos/irl.html %}
    </a>
  </div>
  <div class="description">
    <strong class="position">Co-founder</strong>
    <strong class="company">IRL Coworking</strong>
    <span class="tenure">Oct 2017 - Oct 2018</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>

<section class="work">
  <div class="logo-wrapper beaumont-js">
    <a href="" target="_blank" class="logo">
      {% include logos/beaumont-js.html %}
    </a>
  </div>
  <div class="description">
    <strong class="position">Meetup Organizer</strong>
    <strong class="company">beaumont.js</strong>
    <span class="tenure">Dec 2015 - June 2018</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>

<section class="work">
  <div class="logo-wrapper field-assist">
      <a href="https://go.joahg.com/2rtStAE" target="_blank" class="logo">
        {% include logos/field-assist.html %}
      </a>
  </div>
  <div class="description">
    <strong class="position">Lead Developer</strong>
    <strong class="company">Field Assist</strong>
    <span class="tenure">July 2017 - Feb 2018</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>

<section class="work">
  <div class="logo-wrapper capital-one">
    <a href="" target="_blank" class="logo">
      {% include logos/capital-one.html %}
    </a>
  </div>
  <div class="description">
    <strong class="position">Frontend Development Consultant</strong>
    <strong class="company">Capital One</strong>
    <span class="tenure">July 2017 - Feb 2018</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>

<section class="work">
  <div class="logo-wrapper capital-one">
    <a href="" target="_blank" class="logo">
      {% include logos/capital-one.html %}
    </a>
  </div>
  <div class="description">
    <strong class="position">Software Engineer</strong>
    <strong class="company">Capital One</strong>
    <span class="tenure">Nov 2014 - Oct 2016</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>

<section class="work">
  <div class="logo-wrapper codecademy">
    <a href="" target="_blank" class="logo">
      {% include logos/codecademy.html %}
    </a>
  </div>
  <div class="description">
    <strong class="position">Forums Moderator</strong>
    <strong class="company">Codecademy</strong>
    <span class="tenure">May 2013 - Nov 2016</span>
    <p>
      A description of what I do
    </p>
  </div>
</section>



