<footer>
  <ul>
    <li><a href="https://twitter.com/therealjoahg">twitter</a></li>
    <li><a href="https://github.com/joahg">github</a></li>
    <li><a href="https://www.linkedin.com/in/joahg/">linkedin</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/contact">email</a></li>
  </ul>
</footer>

        <p>all content &copy; <script>document.write(new Date().getFullYear())</script> joahg<a href="http://tsdr.uspto.gov/?utm_source=teas&utm_campaign=tm-filing_receipts&utm_medium=email_teasregular_teasrf&utm_content=tsdr#caseNumber=87881020&caseSearchType=US_APPLICATION&caseType=DEFAULT&searchType=statusSearch" target="_blank">&reg;</a></p>