@font-face {
  font-family: 'LonePine';
  src: url('/fonts/LonePine-Bold.woff') format('woff'),
       url('/fonts/LonePine-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

