<!doctype html>
<html>
  <head>
    <title>{% if page.title && page.title != "" %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% if page.description && page.description != '' %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords && page.keywords != '' %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    
    <link rel="icon" type="image/png" href="{{ site.basepath }}/img/favicon.png?{{ site.cachebust }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">

    <link media="screen" rel="stylesheet" href="{{ site.basepath }}/css/global.css?{{ site.cachebust }}" />
    {% if page.stylesheet && page.stylesheet != "" %}
    <link media="screen" rel="stylesheet" href="{{ site.basepath }}/css/{{ page.stylesheet }}.css?{{ site.cachebust }}" />
    {% endif %}

    <meta property="og:title" content="{% if page.title && page.title != '' %}{{ page.title }} | {% endif %}{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.basepath }}{% if page.thumbnail && page.thumbnail != '' %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}" />
    <meta property="og:description" content="{% if page.description && page.description != '' %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="google-site-verification" content="gxJJJfHWfj1uFR16mAHfmav0bNjSWv5W_lTc1Y8fo4w">
  </head>
  <body>
    <main>
      {% include header.html %}

      <div class="container">
        {{ content }}
      </div>

      {% include footer.html %}
    </main>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45765973-1');
      ga('send', 'pageview');
    </script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "email": "mailto:me@joahg.com",
      "image": "http://www.gravatar.com/avatar/b0a66c02f4ccd6b7c0b5498f70e652b9.png?s=600",
      "jobTitle": "Software Engineer",
      "name": "Joah Gerstenberg",
      "url": "http://www.joahg.com"
    } 
    </script>
  </body>
</html>