<div class="container">
  <article id="aboutme">
    <header>
      Hi. I'm Joah.
    </header>
    <p>
      I'm a freelance web developer based out of the Southeast Texas (USA) area. 
    </p>
    <p>
      I build web applications to help businesses improve their web presence. 
    </p>
    <p>
      You can read more about me at <a href="http://about.me/joahg" target="_blank">about.me/joahg</a>.
    </p>
  </article>
  <article id="portfolio">
    <header>
      Projects
    </header>
    <p>
      Below are just a few of my projects. Many more may be seen on my <a href="https://github.com/joahg" target="_blank">GitHub profile</a>.
    </p>
    <p class="touch-only">
      If on mobile, swipe left or right below to view the projects in the gallery.
    </p>
    <div class="slider">
      <img class="left-arrow inactive" src="images/chevron-left-inactive.png">
      <img class="right-arrow" src="images/chevron-right.png">
      <ul>
        <li class="current">
          <div class="info">
            <header><a href="http://www.joahg.com/bibleRef.js" target="_blank">bibleRef.js</a></header>
            <p>Javascript script to detect Bible references and link to a website where they may be read online.</p>
          </div>
          <a href="http://www.joahg.com/bibleRef.js" target="_blank">
            <img src="images/bibleRefjs.png">
          </a>
        </li>

        <li>
          <div class="info">
            <header><a href="http://ridgewoodchurch.us" target="_blank">ridgewoodchurch.us</a></header>
            <p>Charity website built for local church. Built in collaboration with <a href="http://gracenut.github.com" target="_blank">Haley Higgins</a>.</p>
          </div>
          <a href="http://ridgewoodchurch.us" target="_blank">
            <img src="images/ridgewoodchurch.png">
          </a>
        </li>
        <li>
          <div class="info">
            <header><a href="http://rubygems.org/gems/obfuscatejs" target="_blank">obfuscatejs</a></header>
            <p>Simple Rails plugin to obfuscate strings in views.</p>
          </div>
          <a href="http://rubygems.org/gems/obfuscatejs" target="_blank">
            <img src="images/obfuscatejs.png">
          </a>
        </li>
        <li>
          <div class="info">
            <header><a href="http://www.joahg.com/Beaver-Words" target="_blank">Beaver Words</a></header>
            <p>HTML5 game built for GitHub Game Off 2012. Built in collaboration with <a href="http://gracenut.github.com" target="_blank">Haley Higgins</a>. </p>
          </div>
          <a href="http://www.joahg.com/Beaver-Words" target="_blank">
            <img src="images/beaverwords.png">
          </a>
        </li>
        <li>
          <div class="info">
            <header><a href="http://www.joahg.com/HTML-Calculator" target="_blank">HTML Calculator</a></header>
            <p>HTML/CSS/JS Calculator built for a <a href="http://codecademy.com" target="_blank">Codecademy</a> project. </p>
          </div>
          <a href="http://www.joahg.com/HTML-Calculator" target="_blank">
            <img src="images/calculator.png">
          </a>
        </li>
        <li>
          <div class="info">
            <header><a href="http://ccmodstimeapp.git.joahg.com" target="_blank">Codecademy Moderators App</a></header>
            <p>Time management application built for the <a href="http://codecademy.com" target="_blank">Codecademy</a> Moderators. </p>
          </div>
          <a href="http://ccmodstimeapp.git.joahg.com" target="_blank">
            <img src="images/ccmodstimeapp.png">
          </a>
        </li>
        <li>
          <div class="info">
            <header>JSREPL</header>
            <p>A JavaScript <a href="http://en.wikipedia.org/wiki/Read%E2%80%93eval%E2%80%93print_loop" target="_blank">REPL</a> built on Ruby on Rails.</p>
          </div>
          <a href="http://jsrepl.git.joahg.com" target="_blank">
            <img src="images/jsrepl.png">
          </a>
        </li>
      </ul>
    </div>
  </article>
  <article id="writing">
    <header>
      Writing
    </header>
    <p>
      <ul>
        <li><a href="/#/posts/git-and-github-1">Learning To Use Git and GitHub - Part 1</a></li>
        <li><a href="/#/posts/git-and-github-2">Learning To Use Git and GitHub - Part 2</a></li>
        <li><a href="/#/posts/git-and-github-3">Learning To Use Git and GitHub - Part 3</a></li>
      </ul>
    </p>
  </article>
  <article id="contact">
    <header>
      Contact
    </header>
    <p>
      If you'd like to contact me or inquire about a job, shoot me an email at <a href="mailto:me@joahg.com">me@joahg.com</a>.
    </p>
    <p>
      I'm also available on <a href="http://plus.google.com/+JoahGerstenberg" target="_blank">Google+</a>, <a href="http://www.linkedin.com/pub/joah-gerstenberg/86/b73/2a4" target="_blank">LinkedIn</a>, or <a href="http://twitter.com/therealjoahg" target="_blank">Twitter</a>.
    </p>
  </article>
</div>


<script src="scripts/touchswipe.js"></script>
<script src="scripts/slider.js"></script>