.slider {
	position: relative;
	width: 100%;
	height: 452px;
	margin-top: 65px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slider * {
	position: absolute;
}

.slider .left-arrow:not(.inactive), .slider .right-arrow:not(.inactive) {
	cursor:pointer;
}

.slider .left-arrow, .slider .right-arrow {
	position: absolute;
	height: 60px;
	margin-top: 20%;
	z-index: 2;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.slider .left-arrow {
	left: -100px;
}

.slider .right-arrow {
	right: -100px;
}

.slider ul:not(.pagination) {
	width: 100%;
	position: absolute;
	left: 64.5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.slider ul:not(.pagination) li {
	display: inline;
	position:absolute;
	height: 400px;
	width: 640px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.slider ul:not(.pagination) li > a {
	display:inline-block;
	width: 100%;
	height: 100%;
}

.slider ul:not(.pagination) li:not(:last-child) {
	margin-right: 100px;
}

.slider ul:not(.pagination) li div.info {
	position:absolute;
	z-index: 1;
	bottom: -10px;
	right: -10px;
	width: 100%;
	height: 75px;
	background-color: rgba(0,0,0);
	background-color: rgba(0,0,0,0.7);
	color:white;
	padding: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.slider ul:not(.pagination) li div.info * {
	position:relative;
}

.slider ul:not(.pagination) li div.info header {
  font-size: 1.4em;
  font-family: 'Exo', sans-serif;
  top: 5px;
  bottom: 10px;
  font-weight: bold;
}

.slider ul:not(.pagination) li div.info header a {
	text-decoration: none;
	color: white;
}

.slider ul:not(.pagination) li div.info p {
	font-size: 1.1em;
	font-family: 'Brawler', serif;
	top: 15px;
	cursor: defaul:not(.pagination)t;
}

.slider ul:not(.pagination) li:not(.current) * {
	cursor:pointer !important;
}

.slider ul:not(.pagination) li:not(.current) {
	opacity: 0.3;
}

.slider ul:not(.pagination) li div.info p a {
	color: white;
}

.slider ul:not(.pagination) li > a {
	border: none;
}

.slider ul:not(.pagination) li > a:hover {
	border: none;
}

.slider ul:not(.pagination) li img {
	position: absolute;
	height: 400px;
	text-align: center;
	z-index: 0;
}

.slider ul.pagination {
	position:absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	margin: 0;
	opacity: 0.6;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.slider ul.pagination:hover {
	opacity: 0.8;
}

.slider ul.pagination li {
	height: 10px;
	width: 10px;
	border-radius: 10px;
	display: inline-block;
	background-color: #999;
	border: 3px #000 solid;
	position: relative;
	margin: auto 3px;
	cursor: pointer;
}

.slider ul.pagination li.active {
	background-color: #333;
}

/* Make hover events Desktop only */
@media only screen and (min-width: 768px) {
	.slider .left-arrow:not(.inactive):hover {
		left: -102px;
	}

	.slider .right-arrow:not(.inactive):hover {
		right: -102px;
	}

	.slider ul:not(.pagination) li:hover div.info {
		background-color: rgba(0,0,0,0.8);
	}
	.slider ul:not(.pagination) li:not(.current):hover {
		opacity: 0.4;
	}

	.slider ul:not(.pagination) li.current div.info p a:hover {
		color: #ddd;
	}
}

@media only screen and (max-width: 767px) {
	.slider ul.pagination {
		display: none;
	}
}